@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');

.title {
  font-family: 'Maven Pro', sans-serif;
  font-size: 3.5vw;
  margin-top: 8%;
  color: #616060;
}
.title_sub {
  font-family: 'Maven Pro', sans-serif;
  font-size: 2.5vw;
  margin-left: 10%;
  margin-bottom: 10%;
  color: #616060;
}

/*---------------------
  Team
-----------------------*/
.team {
  margin-top: 8%;
  padding-bottom: 70px;
}

.team__btn {
  text-align: right;
}
.team__btn .primary-btn {
  border: 2px solid #b7b7b7;
  background: transparent;
  color: #111111;
}

.team__item {
  height: 250px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.team__item:hover .team__item__text {
  opacity: 1;
  bottom: 0;
  visibility: visible;
}

.team__item__text {
  text-align: center;
  background: rgba(241, 232, 245, 0.9);
  padding: 30px 0;
  position: absolute;
  left: 0;
  bottom: -500px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}
.team__item__text h6 {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.team__item__text span {
  color: #111111;
  font-size: 14px;
  display: block;
  margin-bottom: 12px;
}

.team__item__social a {
  display: inline-block;
  color: #505050;
  font-size: 16px;
  margin-right: 14px;
}