.app_body {
  background: #fffbfe;
}

.header {
  background: #bfb4cc;
  padding-bottom: 1px;
}

.menu_list li {
  list-style: none;
  display: inline-block;
}

.menu_list li:hover {
  background: #7bad41;
}

.menu_nav {
  text-align: center;
  
}

.menu_nav a {
  font-size: 16px;
  color: #ffffff;
  display: block;
  font-weight: 600;
  padding: 20px 35px;
  letter-spacing: 1px;
}

.logo {
  float: left;
  margin-left: 1%;
}

.auth_menu_login {
  float: right;
  margin-right: 1%;
}

.auth_menu_profile {
  float: right;
  margin-right: -2%;
  margin-left: -20%;
}

.auth_list li {
  list-style: none;
  display: inline-block;
}