.header {
  background: #bfb4cc;
}

.menu_list li {
  list-style: none;
  display: inline-block;
}

.menu_list li:hover {
  background: #7f57ac;
}

.menu_nav {
  text-align: center;
}

@media screen and (max-width: 400px) {
  .menu_nav {
    padding: 30px;
  }
}

.menu_nav a {
  font-size: 16px;
  color: #ffffff;
  display: block;
  font-weight: 600;
  padding: 30px 35px 25px 35px;
  letter-spacing: 1px;
}

.logo {
  float: left;
  margin-left: 1%;
}

.auth_menu_login {
  float: right;
  margin-right: 1%;
}

.auth_menu_profile {
  float: right;
  margin-right: -2%;
  margin-left: -20%;
  margin-top: 1%;
}

.auth_list li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}