.categories__slider {
    padding: 0px;
  }
  .categories__slider.owl-carousel {
    padding-bottom: 40px;
  }
  .categories__slider.owl-carousel .owl-nav button {
    font-size: 36px;
    color: #888888;
    position: absolute;
    left: -60px;
    top: 35%;
  }
  .categories__slider.owl-carousel{
    left: auto;
    right: -60px;
  }
  
  .categories__item {
    text-align: center;
    border-radius: 30%;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    height: 194px;
    width: 194px;
    padding-top: 25px;
    position: relative;
    border: 1px solid #b4b4b4;
    
  }
  .categories__item:after {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -48px;
    width: 15px;
    height: 15px;
    border: 1px solid #f08632;
    border-color: transparent #f08632 #f08632 transparent;
    content: "";
    -webkit-transform: rotate(-100deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
    opacity: 0;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  .categories__item:hover {
    background: #888888;

  }
  .categories__item:hover:after {
    opacity: 1;
  }
  .categories__item:hover span {
    color: #ffffff;
  }
  .categories__item:hover h5 {
    color: #ffffff;
  }
  
  .categories__item__icon {
    display: inline-block;
    margin-top: 20px;
  }
  .categories__item__icon span {
    color: #f08632;
    -webkit-transition: all, 0.2s;
    -o-transition: all, 0.2s;
    transition: all, 0.2s;
    
  }
  .categories__item__icon h5 {
    color: #4e4e4e;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 4px;
    -webkit-transition: all, 0.2s;
    -o-transition: all, 0.2s;
    transition: all, 0.2s;
  }
  .categories__item__icon div img {
      width: 80px;
      object-fit: cover;
      display: block; margin: 0px auto;
  }
  @media only screen and (min-width: 1200px) {
    .container {
      max-width: 1170px;
    }
  }
  .categories__slider.owl-carousel .owl-nav button {
    left: -20px;
  }

  .categories__slider.owl-carousel .owl-nav button.owl-next {
    right: -20px;
  }
  .categories__slider.owl-carousel.owl-loaded.owl-drag {
    padding: 0 15px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .categories__slider.owl-carousel .owl-nav button {
      left: 0;
    }
  
    .categories__slider.owl-carousel .owl-nav button.owl-next {
      right: 0;
    }
}
.categories__slider.owl-carousel .owl-nav button {
    left: -20px;
  }

  .categories__slider.owl-carousel .owl-nav button.owl-next {
    right: -20px;
  }
.categories__item__whole {
    padding: 10px;
}
div.checkbox{
    float: left;
    margin: 5px;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

/*---------------------
  Product
-----------------------*/
.product__detail {
  background: turquoise;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 270px;
  height: 270px;
  opacity: 0.5;
}

.product {
    padding-top: 50px;
  }
  
  .product__item {
    position: relative;
    margin-bottom: 40px;
  }
  .product__item:hover .product__item__pic .product__label span {
    background: #f08632;
    color: #ffffff;
  }
  .product__item:hover .product__item__text .product__item__price {
    opacity: 0;
    visibility: hidden;
  }
  .product__item:hover .product__item__text .cart_add {
    opacity: 1;
    visibility: visible;
    bottom: -4px;
  }
  
  .product__item__pic{
    height: 270px;
    position: relative;
    background-position: center;
  }
  .product__item__pic .product__label {
    position: absolute;
    left: 0;
    bottom: -15px;
    text-align: center;
    width: 100%;
  }
  .product__item__pic .product__label span {
    display: inline-block;
    font-size: 14px;
    color: #111111;
    background: #ffffff;
    padding: 6px 10px 4px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 10px rgba(223, 223, 224, 0.7);
            box-shadow: 0 0 10px rgba(223, 223, 224, 0.7);
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
  }
  
  .product__item__text {
    padding-top: 40px;
    text-align: center;
    position: relative;
  }
  .product__item__text h6 {
    margin-bottom: 16px;
  }
  .product__item__text h6 a {
    color: #111111;
    font-weight: 600;
    text-transform: uppercase;
  }
  .product__item__text .product__item__price {
    color: #111111;
    font-weight: 600;
    font-size: 16px;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  .product__item__text .cart_add {
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  .product__item__text .cart_add a {
    color: #111111;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    border-bottom: 2px solid #f08632;
    padding-bottom: 4px;
  }
