.categories__slider {
  padding: 0px;
}
.categories__slider.owl-carousel {
  padding-bottom: 40px;
}
.categories__slider.owl-carousel .owl-nav button {
  font-size: 36px;
  color: #888888;
  position: absolute;
  left: -60px;
  top: 35%;
}
.categories__slider.owl-carousel{
  left: auto;
  right: -60px;
}

.categories__item {
  text-align: center;
  border-radius: 50%;
  padding-top: 100%;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  position: relative;
  // border: 2px solid #bfb4cc;
  background-color: #eedcf1;
}

.categories__item:hover {
  background: #7f57ac;
}

.categories__item:hover span {
  color: #ffffff;
}

.categories__item:active {
  background: transparent;
}

.categories__item__icon {
  display: block;
  margin-top: 20%;
}
.categories__item__icon span {
  color: #f08632;
  -webkit-transition: all, 0.2s;
  -o-transition: all, 0.2s;
  transition: all, 0.2s;
  
}
.categories__item__icon h5 {
  color: #4e4e4e;
  font-weight: 600;
  font-size: 1vw;
  text-transform: uppercase;
  margin-top: 4%;
}
@media screen and (max-width: 480px){
  .categories__item__icon h5 {
    font-family: "NanumGothicCoding-Bold";
    color: #4e4e4e;
    font-weight: 100;
    font-size: 1vw;
    text-transform: uppercase;
    margin-top: 4%;
    visibility: hidden;
  }
}

.categories__item__icon div img {
    width: 50%;
    object-fit: cover;
    display: block; margin: 0px auto;
}

.categories__item__whole {
  padding: 15px;
  margin-top: 20px;
}
div.filteringCheckbox{
  float: left;
  margin: 5px;
  font-size: 1vw;
}

div.shop__option__search{
max-width: 600px;
padding-left: 30px;
margin: 20px;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/*---------------------
Product
-----------------------*/

.product {
  padding-top: 50px;
}

.product__item {
  position: relative;
  margin-bottom: 40px;
}
.product__item:hover .product__item__pic .product__label span {
  background: #c3a9c7;
  color: #ffffff;
}
.product__item:hover .product__item__text .product__item__price {
  opacity: 0;
  visibility: hidden;
}
.product__item:hover .product__item__text .cart_add {
  opacity: 1;
  visibility: visible;
  bottom: -4px;
}

.product__item__pic{
  height: 270px;
  position: relative;
  background-position: center;
}
.product__item__pic .product__label {
  position: absolute;
  left: 0;
  bottom: -15px;
  text-align: center;
  width: 100%;
}
.product__item__pic .product__label span {
  display: inline-block;
  font-size: 14px;
  color: #111111;
  background: #ffffff;
  padding: 6px 10px 4px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 10px rgba(223, 223, 224, 0.7);
          box-shadow: 0 0 10px rgba(223, 223, 224, 0.7);
  -webkit-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}

.product__item__text {
  padding-top: 40px;
  text-align: center;
  position: relative;
}
.product__item__text h6 {
  margin-bottom: 16px;
}
.product__item__text h6 a {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
}
.product__item__text .product__item__price {
  color: #111111;
  font-weight: 600;
  font-size: 16px;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
.product__item__text .cart_add {
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  -webkit-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
  opacity: 0;
  visibility: hidden;
}
.product__item__text .cart_add a {
  color: #111111;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  border-bottom: 2px solid #f08632;
  padding-bottom: 4px;
}

.filteringBorder {
  border-top: 1px solid #bebdbd;
  border-bottom: 1px solid #bebdbd;
  padding-bottom: -10px;
  margin-bottom: 20px;
}

.ingredient_table_box {
  background:#ede6f5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 255px;
  height: 270px;
  opacity: 0.9;
  border: 1px solid #4e4e4e;
  padding-top: 12%;
  padding-left: 9%;
  padding-right: 9%;
  color: #3a3a3a;
}

.close_button {
  position: absolute;
  right: 0;
  margin: -11% 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.close_button img {
  width: 15px;
  height: 15px;
}

.ingredient_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 10%;
}

.ingredient_bottom span {
  font-size: 0.9vw;
}
.ingredient_table {
  width: 80%;
  list-style: none;
  // border-top:1px solid #4e4e4e;
  // border-bottom:1px solid #4e4e4e;
  padding: 0;
  padding-top: 2%;
  padding-bottom: 2%;
}

.ingredient_table li div {
  width: 50%;
  font-size: 0.9vw;
  float: left;
}

.ingredient_table_div_left {
  text-align: left;
}
.ingredient_table_div_right {
  text-align: right;
}

.brand_button {
  border: 0;
  outline: none;
  background: transparent;
  margin: auto;
}

.input_hidden {
  background-color: transparent;
  border-radius: 30%;
  border: 0px;
  outline: none;
  position: absolute; top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.category__item_hidden {
  background-color: transparent;
  border-radius: 50%;
  position: absolute; top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.shop__option__right {
  float: left;
  min-width: 180px;
  margin: 20px;
  z-index: 2;
}

@media screen and (max-width: 480px){
  .wishlist .spad{
    right: '0px';
  }
}

.btn_to_compare {
  background-color: transparent;
  border: none;
  outline: none;
}

.compare_table {
  width: 100%;
  word-break: keep-all;
}
.compare_table_img {
  width: 40%;
}
.compare_table_img img {
  width: 100px;
  height: 100px;
}
.compare_table_brand {
  width: 45%;
}
.compare_table_name {
  padding: 2%;
}
.btn.btn-concrete {
  background-color: #9ea6a7; 
  border-color: #9ea6a7; 
  box-shadow: 0 3px 0 #948e96;
  width: 100%;
  margin: 2%;
  color: white;
  outline: none;
 }

.btn.btn-concrete:hover {
 background-color:#757a7a;
}

.btn.btn-concrete:active {
 top: 3px; 
 outline: none; 
 -webkit-box-shadow: none; 
 box-shadow: none;
}

.compareButton {
  position: fixed;
  bottom: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.6%;
}

.sidebar {
  color: #3a3a3a;
}