.header {
    background: #439e71;
  }
  
  .header__menu {
    text-align: center;
  }
  .header__menu ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin-right: -5px;
  }
  .header__menu ul li.active a {
    background: #439e71;
  }
  .header__menu ul li:hover a {
    background: #7bad41;
  }
  .header__menu ul li:hover .dropdown {
    top: 62px;
    opacity: 1;
    visibility: visible;
  }
  .header__menu ul li:last-child {
    margin-right: 0;
  }
  .header__menu ul li .dropdown {
    position: absolute;
    left: 0;
    top: 82px;
    width: 150px;
    background: #111111;
    text-align: left;
    padding: 5px 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  .header__menu ul li .dropdown li {
    display: block;
    margin-right: 0;
  }
  .header__menu ul li .dropdown li a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    padding: 5px 20px;
    text-transform: capitalize;
  }
  .header__menu ul li .dropdown li a:after {
    display: none;
  }
  .header__menu ul li a {
    font-size: 16px;
    color: #ffffff;
    display: block;
    font-weight: 600;
    padding: 20px 35px;
    letter-spacing: 1px;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  
  .banner{
    margin-top: -17px;
  }
  
  .banner img{
    max-width: 85%;
    object-fit: cover;
    margin : auto;
  }
  
  