 @font-face {
  font-family: 'Nanum Barun Gothic KR';
  font-style: normal;
  font-weight: 100;
  src: url("fonts/NanumBarunGothicLight.woff2") format('woff2'),
  url("fonts/NanumBarunGothicLight.woff") format('woff'),
  url("fonts/NanumBarunGothicLight.otf") format('truetype')
}

@font-face {
  font-family: 'Nanum Barun Gothic KR';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/NanumBarunGothic.woff2") format('woff2'),
  url("fonts/NanumBarunGothic.woff") format('woff'),
  url("fonts/NanumBarunGothic.otf") format('truetype')
}


@font-face {
  font-family: 'Nanum Barun Gothic KR';
  font-style: normal;
  font-weight: 500;
  src: url("fonts/NanumBarunGothic.woff2") format('woff2'),
  url("fonts/NanumBarunGothic.woff") format('woff'),
  url("fonts/NanumBarunGothic.otf") format('truetype')
}

@font-face {
  font-family: 'Nanum Barun Gothic KR';
  font-style: normal;
  font-weight: bold;
  src: url("fonts/NanumBarunGothicBold.woff2") format('woff2'),
  url("fonts/NanumBarunGothicBold.woff") format('woff'),
  url("fonts/NanumBarunGothicBold.otf") format('truetype')
}

body {
  margin: 0;
  font-family: "Nanum Barun Gothic KR";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
