.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .container {
    max-width: 1170px;
  }

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  background: #439e71;
}

.header__menu {
  text-align: center;
}
.header__menu ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  margin-right: -5px;
}
.header__menu ul li.active a {
  background: #439e71;
}
.header__menu ul li:hover a {
  background: #7bad41;
}
.header__menu ul li:hover .dropdown {
  top: 62px;
  opacity: 1;
  visibility: visible;
}
.header__menu ul li:last-child {
  margin-right: 0;
}
.header__menu ul li .dropdown {
  position: absolute;
  left: 0;
  top: 82px;
  width: 150px;
  background: #111111;
  text-align: left;
  padding: 5px 0;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
.header__menu ul li .dropdown li {
  display: block;
  margin-right: 0;
}
.header__menu ul li .dropdown li a {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  padding: 5px 20px;
  text-transform: capitalize;
}
.header__menu ul li .dropdown li a:after {
  display: none;
}
.header__menu ul li a {
  font-size: 16px;
  color: #ffffff;
  display: block;
  font-weight: 600;
  padding: 15px 35px 15px;
  letter-spacing: 1px;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

.col-lg-3 {
  max-width: 100%;
}

.team{
  margin-top: -16px;
}

.team img{
  width: 82%;
  height: absolute;
  margin : auto;
}